.navbar {

}

.container {
    margin-bottom: 0px;
}

.icon-bar {
    background-color: black;
}

.headerLogo {
    float: left;
    width: 350px;
    /*margin-left: auto;*/
    margin: 30px auto 30px 0;
}

.row {
    padding: 10px;
}

a {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.YNCName {
    margin-top:-20px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 12pt;
    transition: font-size 0.20s, margin-bottom 0.20s;
}

.CanvassyName {
    margin-top:-5px;
    margin-bottom:-15px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 50pt;
    color: #002c6a;
    transition: font-size 0.20s, margin-top 0.20s;
}

a:hover {
    text-decoration: none;
}

#topBlue {
    height:3px;
    width: 100%;
    background-color:#002c6a;
}
#topOrange {
    height:2px;
    width: 100%;
    background-color:#ff8100;
}

.userSection {
    float: right;
    width: 200px;

    /*margin-left:83%;*/
}

#profilePicLink {
    margin: 0 auto 0 auto;

}

#profilePic {
    margin: 40px 0 0 75px;
    width: 50px;
    transition: width 0.2s;
}

#userName {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size:12px;
}

#navbarContainer {
    margin-bottom:197px;
    transition: margin-bottom 0.2s;
}

/*Tools*/

.round {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 50%;

  /* Firefox 1-3.6 */
  -moz-border-radius: 50%;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%;
}

