{% extends "bootstrap/base.html" %}
{% block title %}Yale-NUS College Canvassy{% endblock %}

{% block head %}
{{ super() }}
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="static/script.js"></script>
{% endblock %}

{% block navbar %}
<div class="container" id="navbarContainer">
    <div class="navbar navbar-fixed-top" role="navigation" style="background-color:#F0F0F0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div class="headerLogo">
                            <a class="titleA" href="/"><p class="CanvassyName">CANVASSY</p></a>
                            <a class="titleA" href="/"><p class="YNCName"><font color="#002c6a">YALE</font><font color="#ff8100">NUS</font><font color="#002c6a">COLLEGE</font></p></a>
                    </div>
                </div>
                <div class="col-xs-5"></div>
                <div class="col-xs-1">
                    <div class="userSection">
                        <a href="/" id="profilePicLink"><img class="round" id="profilePic" src="/static/Raubs.png"></a>
                        <a href="/"><p id="userName">TheRaubz</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="topBlue" style="position:relative; top:1px;"></div>
        <div id="topOrange" style="position:relative; top:1px;"></div>
    </div>
</div>
<!--<div class="container" style="position:relative;">
    <div class="row">
        <div class="col-xs-12" style="height:615px; background-color:#0E4C92; border-radius:4px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-7" style="height:300px; padding:0px; padding-right:10px;">
            <div style="background-color:#EF7C00; height:100%; border-radius:4px;"></div>
        </div>
        <div class="col-xs-5" style="height:300px; padding:0px; padding-left:10px;">
            <div style="background-color:#F0F0F0; height:100%; width:100%; border-radius:4px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="height:615px; background-color:#0E4C92; border-radius:4px;"></div>
    </div>
</div>
<div style="height:9px; position:relative;"></div>-->

{% endblock %}

{% block body %}
{{ super() }}

    <div class="col-xs-2" id="navigationPane">
        <p style="color:#ff8100">CLASSES</p>
        <p style="color:#002c6a">PPT</p>
        <p style="color:#002c6a">CSI</p>
        <p style="color:#002c6a">LH</p>
        <p style="color:#002c6a">SI</p>
    </div>

    <div class="col-xs-10" style="float:right;">
        {% set i=1 %}
        {% for title in posters.titles %}
            <div class="col-xs-6" style="padding:5px; padding-right:10px;">
            {% if i%2 != 0 %}
                <div class="content" style="height:200px; background-color:#ff8100;">{{title}}</div>
            {% endif %}
            </div>
            <div class="col-xs-6" style="padding:5px;padding-left:10px;">
            {% if i%2 == 0 %}
                <div class="content" style="height:200px; background-color:#002c6a;">{{title}}</div>
            {% endif %}
            </div>
            {% set i = i+1 %}
        {% endfor %}

    </div>

    <div style="height:1000px;"></div>
{% endblock %}
