{% extends "bootstrap/base.html" %}
{% block title %}Yale-NUS College Canvassy{% endblock %}

{% block head %}
{{ super() }}
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="static/script.js"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="headerLogo">
                <a class="titleA" href="/"><p class="CanvassyName">CANVASSY</p></a>
                <a class="titleA" href="/"><p class="YNCName"><font color="#002c6a">YALE</font><font color="#ff8100">NUS</font><font color="#002c6a">COLLEGE</font></p></a>

        </div>
        <div class="userSection">
            <a href="/" id="profilePicLink"><img class="round" id="profilePic" src="/static/Raubs.png"></a>
            <a href="/"><p id="userName">TheRaubz</p></a>

        </div>

   </div>
    <div id="topBlue"></div>
    <div id="topOrange"></div>
</div>

{% endblock %}

{% block body %}
{{ super() }}
<div style="height:1000px;"></div>
{% endblock %}

<body>
<p class="yncheader"></p>

</body>
